.container {
  width: 1120px;
}

.landing-page {
  padding: 90px 0 100px 0;
  background-size: 50%;
  background-position: 85% 70%;
}

.about {
  padding: 125px 92px 125px 50%;
  background-position: 5% 50%;
}

.about h1 {
  margin-bottom: 40px;
}
