.container {
  width: 1120px;
}

/* landing page */

.landing-page h1 {
  margin: 20px 0 60px 0;
}

.landing-page p {
  margin-right: -65px;
}

/* about */

.about {
  padding: 125px 92px 125px 50%;
  background-size: 500px;
  background-position: 3% 40%;
}

/* features */

.features {
  margin-top: 150px;
}

.features__header {
  width: 52%;
}

.features__desc {
  margin-top: 50px;
}

.features__item {
  padding: 50px 50px 50px 50%;
  background-size: 80%, 45%;
}

/* footer */

.footer__info {
  grid-template-areas: "co co ab ab he he so";
}
