.container {
  width: 960px;
}

.container p {
  padding-top: 5px;
}

.nav__links {
  width: 28.75%;
}

.landing-page {
  padding: 50px 0px 100px 0px;
  background-size: 60%;
  background-position: 93% 78%;
  margin-bottom: 30px;
}

.landing-page h1 {
  width: 53%;
}

.landing-page p,
.landing-page h1 {
  margin-bottom: 50px;
}

.about {
  padding: 100px 92px 100px 53%;
  background: rgba(240, 99, 184, 0.15), url("../img/bg/bg-about.svg");
  background-size: 47%;
  background-repeat: no-repeat;
  background-position: 4% 48%;
  border-radius: 50px;
}

.about h1 {
  font-size: 50px;
  margin-bottom: 50px;
  line-height: 130%;
}

.about p {
  padding-left: 0;
  font-size: 18px;
  color: var(--dark-gray);
  line-height: 160%;
}
