.container {
  width: 88%;
}

/* buttons */

.btn--white-sticky {
  margin: -102px 7% 0 0;
}

/* landing page */

.landing-page h1,
.landing-page p {
  margin-bottom: 30px;
}

/* about */

.about {
  padding: 50px 25px 350px 25px;
  background-size: 360px;
  background-position: 45% 96%;
}

/* features */

.features .container {
  width: 96%;
}

.features__item {
  height: 270px;
  padding: 30px 22px 5px 22px;
  background-position: 100% 20%, 5% 43%;
  background-size: 200%, 32%;
}

.features__item h3 {
  padding-left: 41%;
}

.features__item p {
  top: 26%;
  left: 42%;
  padding-right: 30px;
}
