@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap");
@import url("variables.css");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
  font-family: "Nunito", sans-serif;
}

.container {
  width: 96%;
  margin: auto;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  color: var(--dark-blue);
}

h2 {
  font-weight: 700;
  font-size: 35px;
  color: var(--dark-blue);
}

p {
  font-size: 18px;
}

.btn {
  width: 158px;
  padding: 17px 27px;
  border: 0;
  background: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 600;
}

.btn--white {
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  color: var(--dark-blue);
}

.btn--white img {
  margin-left: 18px;
  vertical-align: middle;
}

.btn--violet {
  height: fit-content;
  background-color: var(--violet);
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  color: #ffffff;
}

.btn--pink {
  background-color: var(--pink);
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  color: #ffffff;
}

main .btn--white {
  float: right;
  margin: -103px 3.5% 0 0;
  position: sticky;
  top: 25px;
  z-index: 2;
}

nav {
  margin-top: 3%;
}

nav .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .container .btn--white {
  display: none;
}

nav .container .logo {
  margin-left: 5px;
}

nav .container .btn img {
  display: none;
}

nav .container .btn .btn--mobile-menu {
  position: absolute;
  padding: 4px;
  top: 0;
}

nav .container .btn--mobile-menu img {
  display: initial;
  float: right;
  width: 42px;
  height: auto;
  margin-right: -18px;
  margin-top: 5px;
}

.nav__links {
  display: none;
}

.nav__links a {
  color: var(--dark-gray);
  text-decoration: none;
}

.nav__links a.active {
  color: var(--dark-blue);
  font-weight: 700;
}

.landing-page .container {
  padding: 20px 6px 50px;
  display: grid;
  grid-template-columns: 100%;
}
.landing-page h1 {
  font-size: 40px;
  color: var(--dark-blue);
}

.landing-page p {
  line-height: 160%;
}

.landing-page p,
.landing-page h1 {
  margin-bottom: 35px;
}

.landing-page img {
  margin-bottom: 20px;
}

.landing-page img {
  margin-left: -8px;
  width: 100%;
}

.landing-page .btn--violet {
  margin-left: 1%;
}

.about {
  padding: 50px 22px 330px 22px;
  background: rgba(240, 99, 184, 0.15) url("../img/bg/bg-about.svg");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: 20% 93%;
  border-radius: 50px;
}

.about h2 {
  margin-bottom: 30px;
}

.about p {
  font-size: 18px;
  color: var(--dark-gray);
  line-height: 160%;
}

.features {
  margin-top: 70px;
}

.features__header {
  margin: 0 auto 70px auto;
  width: 90%;
  text-align: center;
}

.features h2 {
  color: var(--dark-blue);
  font-size: 35px;
  margin-bottom: 35px;
}

.features h3 {
  color: var(--dark-blue);
  font-size: 24px;
  margin-bottom: 35px;
}

.features__list {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 45px;
  margin-bottom: 45px;
}

.features__list p {
  font-size: 16px;
  line-height: 160%;
  position: absolute;
  top: 33%;
  padding-right: 22px;
}

.features__item {
  position: relative;
  height: 300px;
  padding: 35px 22px 5px 22px;
  background-repeat: no-repeat;
  background-position: 100% 20%, 10% 0%;
  background-size: 200%, 115px;
  border-radius: 50px 50px 50px 0;
}

.features__item h3 {
  padding-left: 52%;
  margin-bottom: 30px;
}

.features__item--1 {
  background-image: url("../img/bg/bg-f-1.svg"), url("../img/bg/bg-f-1b.svg");
}

.features__item--2 {
  background-image: url("../img/bg/bg-f-2.svg"), url("../img/bg/bg-f-2b.svg");
}

.features__item--3 {
  background-image: url("../img/bg/bg-f-3.svg"), url("../img/bg/bg-f-3b.svg");
}

.features__item--4 {
  background-image: url("../img/bg/bg-f-4.svg"), url("../img/bg/bg-f-4b.svg");
}

.features__desc {
  margin-top: 30px;
}

.link-with-icon {
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: 600;
  position: absolute;
  bottom: 25px;
}

.link-with-icon img {
  height: 15%;
  width: 15%;
  margin-left: 7px;
  vertical-align: middle;
}

.footer__liner {
  position: absolute;
  width: 100vw;
  height: 2px;
  left: 0px;
  background: var(--violet);
  opacity: 0.2;
}

footer .footer__try .container {
  padding: 40px 8px 0 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

footer .btn--pink {
  margin-right: 30px;
}

footer .btn--white {
  display: none;
}

footer h2 {
  display: block;
  padding-bottom: 20px;
}

footer p {
  padding-bottom: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: var(--dark-gray);
}

.footer__info .container {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  color: var(--dark-blue);
  font-weight: 400;
  font-size: 16px;
  line-height: 250%;
  margin-bottom: 93px;
}

.footer__logo-span {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 65px;
}

.footer__logo-span h4 {
  font-size: 20px;
  font-weight: 900;
  line-height: 32px;
}

.footer__adress {
  font-weight: 700;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.footer__mail-phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
}

footer h5 {
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
  margin: 7px 0 30px 0;
}

.footer__social-media {
  display: flex;
  gap: 14px;
}

.footer__social-media li {
  background-image: url("../img/icons/social-circle.svg");
  width: 50px;
  height: 50px;
  text-align: center;
}

.footer__social-media--facebook {
  padding: 11px 0 8px 0.5px;
}

.footer__social-media--twitter {
  padding: 8px 0 8px 2px;
}

.footer__social-media--instagram {
  padding: 8px 0 8px 2px;
}

.footer__copyrigth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.footer__copyrigth p,
.credits {
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.credits {
  margin-bottom: 100px;
}

.credits a {
  color: var(--dark-gray);
}

.credits a:visited {
  color: var(--dark-gray);
}
