.container {
  width: 720px;
}

.btn {
  padding: 21px 29px;
  font-size: 16px;
}

nav .container .btn {
  position: absolute;
  right: 0;
  bottom: unset;
}

nav .container .btn img {
  display: initial;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  width: 42%;
  margin-left: 10.8%;
}

nav {
  margin-top: 50px;
}

.btn--mobile-menu {
  display: none;
}

.landing-page {
  padding: 50px 0px 100px 0px;
  background-size: 60%;
  background-position: 88% 80%;
}

.landing-page h1 {
  font-size: 80px;
  color: var(--dark-blue);
}

.landing-page p {
  position: initial;
  padding: 15px 0 20px 0;
  width: 33%;
  line-height: 160%;
}

.landing-page p,
.landing-page h1 {
  margin-bottom: 30px;
}

.btn--violet {
  box-shadow: none;
  position: initial;
}

.about {
  padding: 50px 60px 50px;
  background-size: 47%;
  background-position: 5% 85%;
}

.about h1 {
  font-size: 45px;
  margin-bottom: 40px;
  line-height: 130%;
}

.about p {
  padding-left: 55%;
}

.features {
  margin-top: 90px;
}

.features h1 {
  font-size: 45px;
}

.features__header {
  margin: 0 auto 70px auto;
  width: 75%;
  text-align: center;
}

.features__item {
  position: relative;
  height: 430px;
  padding: 50px 20px 50px 55%;
  background-repeat: no-repeat;
  background-position: 110% 50%, 0% 50%;
  background-size: 100%, 40%;
}
