.container {
  width: 720px;
}

/* buttons */

.btn {
  width: fit-content;
  padding: 21px 29px;
  font-size: 16px;
}

.btn--white-sticky {
  display: none;
}

.btn--mobile-menu {
  display: none;
}

/* navigation */

nav {
  margin-top: 50px;
}

nav .container {
  justify-content: flex-start;
}

nav .btn {
  position: absolute;
  right: 0;
  bottom: unset;
}

nav .btn--white {
  display: initial;
}

nav .btn--white img {
  display: initial;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  width: 42%;
  margin-left: 10.8%;
}

/* landing page */

.landing-page .container {
  margin-top: 30px;
  margin-bottom: 60px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "h1 h1 h1 h1 h1 h1 h1 h1"
    "p p p img img img img img"
    "p p p img img img img img"
    "btn btn btn img img img img img";
}

.landing-page h1 {
  grid-area: h1;
  font-size: 50px;
  margin-bottom: 45px;
}

.landing-page p {
  grid-area: p;
  margin: 0 -30px 60px 0;
}

.landing-page img {
  grid-area: img;
  width: 110%;
  margin: 0 0 -20px 0;
  align-self: end;
}

.landing-page .btn--violet {
  grid-area: btn;
  align-self: end;
}

/* about */

.about {
  padding: 50px 60px 65px;
  background-size: 47%;
  background-position: 5% 75%;
}

.about h2 {
  font-size: 45px;
  line-height: 130%;
}

.about p {
  padding-left: 55%;
}

/* features */

.features {
  margin-top: 90px;
}

.features__header {
  width: 75%;
}

.features__header h2 {
  font-size: 45px;
}

.features__list {
  display: grid;
  grid-template-columns: 47% 47%;
  grid-gap: 6%;
  margin-bottom: 110px;
}

.features__item {
  height: 360px;
  padding: 75px 40px 50px 35px;
  background-position: 110% 85%, 0% 5%;
  background-size: 110%, 45%;
  border-radius: 0%;
}

.features__item h3 {
  padding-left: 55%;
}

.features__item p {
  top: 44%;
  left: 10%;
  padding-right: 35px;
}

.link-with-icon {
  bottom: 30px;
}

.link-with-icon img {
  margin-left: 18px;
}

/* footer */

.footer__try {
  padding: 65px 8px 60px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}

footer p {
  padding-bottom: 0;
}

footer .btn--pink {
  margin-right: 10px;
}

footer .btn--white {
  display: initial;
}

footer .btn--white img {
  display: none;
}

.footer__info {
  grid-template-areas:
    "co so"
    "ab he";
}
